# Variables

## Values and Data Types

We often refer to these values as objects

In [25]:
print(type("Hello, world"))
print(type(17))
print("Hello, world")

<class 'str'>
<class 'int'>
Hello, world

Integers with a decimal point are called floats

In [26]:
print(type(3.2))

<class 'float'>

Integers and floats are inside quotation marks are considered strings

In [27]:
print(type("17"))
print(type("3.2"))

<class 'str'>
<class 'str'>

Strings could have single quotes('), double quotes ("), or triple quotes (""" OR ''')

In [28]:
print(type('This is a string.'))
print(type("And so is this."))
print(type("""and this."""))
print(type('''and even this...'''))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

Double quoted strings contains single quote inside, single quoted strings contains double quotes inside, and triple quoted strings contains three occurances of either quote symbol.

In [29]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

"Oh no", she exclaimed, "Ben's bike is broken!"

 Three quoted strings can span multiple lines.

In [30]:
print("""This message will span
several lines
of the text.""")

This message will span
several lines
of the text.

Python doesn't care of the type of quotation marks surrounding the string.

In [31]:
print('This is a string.')
print("""And so is this.""")

This is a string.
And so is this.

Large numbers like 42,000 must not contain a comma or else Python will treat this as a pair of numbers; 42 and 0.

In [32]:
print(42000)
print(42,000)

42000
42 0

The print function can print any number of values as long as you seperate them by a comma.

In [33]:
print(42, 17, 56, 34, 11, 4.35, 32)
print(3.4, "hello", 45 )

42 17 56 34 11 4.35 32
3.4 hello 45

## Type conversive functions

The functions 'int', 'str', and 'float' will convert their arguments to into types int, str, and float respectively. However 23bottles is not a legal object so it gave an error.

In [34]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))          # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.9999, int(-3.9999))        # Note that the result is closer to 0.

print("2345", int("2345"))          # Parse a string to produce an int
print(17, int(17))                  # int even works on integers
print(int("23bottles"))

3.14 3
3.9999 3
3.0 3
-3.9999 -3
2345 2345
17 17

ValueError: invalid literal for int() with base 10: '23bottles'

The function float can change an argument into a float.

In [35]:
print(float(123.45))
print(type(float(123.45)))

123.45
<class 'float'>

The function string turns its arguments in to a string.

In [36]:
print(str(17))
print(str(123.45))
print(type(str(123.45)))

17
123.45
<class 'str'>

The code plays around with math to using lists

In [40]:
a = [41, 69, 12, 71, 36]
print(len(a))
print(len(a)//2)
print(a[len(a)//2])

5
2
12